@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Quicksand:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.firstnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background: #697B03;
    position: relative;
    z-index: 100;

}
.newsletter{
    color: #E7E9DB;
    /* align-self: center; */
    margin-left: 13rem;
}
.firstnav > a{
    text-decoration: none;
    color: #E7E9DB;
    font-size: 1.5em;
    font-weight: bold;

}
.second-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 1.5rem; */
    padding-top: 1.5rem;
    vertical-align: middle;
    position: relative;
    z-index: 90;

}
.second-nav img{
    vertical-align: middle;
    width: 100px;
    height: 40px;
    margin-top: 0.2rem;

}
.listing > a{
    margin-right:2rem; 
    text-decoration: none;
    color: #7E4E24;
    font-weight: bold;
    vertical-align: middle;
}
.listing >button{
border: solid 2px #697B03;
border-radius: 4px;
padding: 1rem;
font-family:'Quicksand', sans-serif;
font-weight: bold;
color: #697B03;
background: rgba(231,233, 219, 0.5);
}
.firstparagraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7rem;
    margin-top:7rem;
    position: relative;
    z-index: 70;
}
.firstparagraph-h3{
    color: #7E4E24;
    margin-bottom: .4rem;
}
.firstparagraph-h1{
    color:#697B03;
    font-size: 50px;

}
.firstparagraph-h1 > span{
    color:#7E4E24;
    font-weight: bold;
    
}
.firstparagraph-p{
    color:#7E4E24;
    margin-top: .4rem;
    font-size: 20px;
    width: 502px;
    font-weight: bold;
}
.backgrouuund > img{
    position: absolute;
    top: 0%;
    background-size: cover;
    width: 100%;
    height: 600px;
    left: 0%;
    z-index: -2;
}
.who-we-are{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10rem;
    padding-left: 6rem;
    padding-top: 16rem;
    justify-content: space-between;
}
.who-we-are-image > img{
margin-right: 3rem;
}
.side-olive-text{

}
.side-olive-text > p{
font-size: 20px;
width: 420px;
font-weight: bold;
margin-top: 1.5rem;
margin-bottom: 1.5rem;
margin-left: 1.5rem;
}
.side-olive-text > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #7E4E24;
    margin-left: 1.5rem;
}
.what-we-do{
    display: flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    column-gap: 20px;
    background:#F7EECD;
    padding: 3rem;
    margin-bottom: 1rem;
    margin-top: -6rem;
    /* padding-bottom: 2.5rem; */
}
.what-we-do > img{
    margin-bottom: 3rem;
    width:300px;
    
}
.health-is-wealth{
display:flex;
flex-direction: column;
align-items: center;
color: #7E4E24;
padding: 8rem;
justify-content: center;
justify-items: center;
margin-bottom: 2rem;
background-image: url(/assets/bkgr-fasha\ 1.png);
}
.health-is-wealth >p{
    display: flex;
    font-size: 3rem;
    width: 1200px;
    color:#7E4E24;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}
.health-is-wealth >a{
    text-decoration: none;
    color: #7E4E24;
    font-weight: bold;
    padding: 2rem;
    align-self: flex-end;
}
.health-is-wealth>h4{
    font-weight: bold;
    margin-left: 7.3rem;
    align-self: flex-start;
}
